---
import Layout from "../layouts/Layout.astro";
import InteractiveCanvas from "../components/InteractiveCanvas.astro";
import AIExamples from "../components/AIExamples.astro";
import ScrollGallery from "../components/ScrollGallery.astro";
import ArchiveSection from "../components/home/ArchiveSection.astro";
import DesignPrinciplesSection from "../components/home/DesignPrinciplesSection.astro";
import EvaluationSection from "../components/home/EvaluationSection.astro";
import FinalCalloutSection from "../components/home/FinalCalloutSection.astro";
import FundamentalsSection from "../components/home/FundamentalsSection.astro";
import GlossarySection from "../components/home/GlossarySection.astro";
import ModesSection from "../components/home/ModesSection.astro";
import MysteriesSection from "../components/home/MysteriesSection.astro";
import ResponseCycleSection from "../components/home/ResponseCycleSection.astro";
import SystemLayersSection from "../components/home/SystemLayersSection.astro";
import UnderstandingSection from "../components/home/UnderstandingSection.astro";

const sections = [
  ArchiveSection,
  FundamentalsSection,
  ModesSection,
  ResponseCycleSection,
  SystemLayersSection,
  AIExamples,
  UnderstandingSection,
  EvaluationSection,
  GlossarySection,
  MysteriesSection,
  ScrollGallery,
  DesignPrinciplesSection,
  FinalCalloutSection,
] as const;
---

<Layout
  title="IRA | Archivo Oculto de la IA"
  description="Una landing experimental con nuevas secciones, animaciones y una narrativa visual sobre los mecanismos invisibles de la inteligencia artificial."
>
  <main id="top" class="relative overflow-x-hidden">
    <InteractiveCanvas />
    {sections.map((SectionComponent) => <SectionComponent />)}
  </main>
</Layout>
